[role='tooltip'].popup-content {
    width: auto;
    min-width: 222px;
}

.error {
    color: red;
}

.HoverBold:hover {
    font-weight: bold;
    padding: 0 4px;
}

.keyword {
    color: dodgerblue;
}

table.table th,
table.table td {
    padding: 0.5rem;
    border-bottom-width: 1px;
}

table.no-border th,
table.no-border td {
    border-width: 0;
}

.menu {
    height: 100%;
}

.menu > ul {
    height: 100%;
    min-width: 222px;
    vertical-align: top;
}

.menu > .submenu {
    border-left: solid lightgray 1px;
    height: 100%;
}
